/* MAIN CONTENT STYLES */
body {
    background-color: #a9c9ff; /* Pastel Blue */
    color: #333; /* Dark gray for text for contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.social-links li a img{
    width: 64px;
    height: auto;
}


container {
    display:flex;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none; /* Removes default bullets */
    padding: 0;
    margin: 0;
}

li {
    padding: 8px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

p {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: justify; /* Optional: This will justify the text for better readability */
}

.board {
    position: relative;
    width: 120px; /* Adjust based on your needs */
    height: 120px; /* Adjust based on your needs */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.square {
    width: 100px; /* Set the width of the square */
    height: 100px; /* Set the height of the square */
    border: 2px solid black; /* Create a black outline */
    position: absolute;
}

.top, .bottom, .left, .right {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 10px;
}

.top {
    top: -10px;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.bottom {
    bottom: -10px;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
}

.left {
    top: 0;
    left: -10px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.right {
    top: 0;
    right: -10px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
}

/* For hiding and showing information */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.left-half, .right-half {
    width: 50%;
}

/* Optional: to ensure content is centered within each half */
.left-half, .right-half {
    display: flex;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    text-align: center; /* Ensure the text itself is centered if multiple lines */
}